CHASSI_LENGTH	0.075
CHASSI_WIDTH	0.055
CHASSI_HEIGHT	0.035 		# 0.070/2
CHASSI_STARTZ	0.05 		# coordenada Z (altura) inicial do chassi
CHASSI_CMASS	0.116666667	# massa do chassi (0.35/3)

WHEEL_RADIUS	0.0375	# 0.075/2
WHEEL_B_RADIUS	0.02135	# raio da roda B
WHEEL_THICK		0.01	# espessura da roda
WHEEL_MASS		0.03	# massa da roda

BALL_MASS		0.03	# massa da bola

NUM_ROBOTS		6		# quantidade de robos

GRAVITY		-9.8	# gravidade
TQ			0.3		# torque
SC			0.01	# escala: 1 unidade = 1 cm

# constantes das paredes
WALL_THICK		SC*2.5     # espessura da parede
WALL_HEIGTH     SC*10      # altura da parede

# constantes do gol
GOAL_WIDTH    0.10    # largura do gol
GOAL_LENGTH   0.40    # comprimento do gol

# constantes do campo
CIRCLE_RADIUS    SC*20     # raio do circulo central
FIELD_WIDTH      1.3    # largura do campo = SC*150
FIELD_LENGTH     1.5    # comprimento do campo = SC*130
FIELD_SIDE_LENGTH     (FIELD_LENGTH-GOAL_LENGTH)/2    # comprimento lateral

# beirada triangular do campo
TRIANGLE_SIZE    SC*7      # tamanho do triangulo
TRIANGLE_THICK   SC*0.1    # espessura do triangulo
TRIANGLE_LENGTH  TRIANGLE_SIZE*sqrt(2)    # comprimento do triangulo

# posicoes dos elementos do campo
FIELD_FRONT_Y          (FIELD_LENGTH+THICK)/2
FIELD_SIDE_X           (FIELD_WIDTH+THICK)/2
FIELD_SIDE_Y           (FIELD_LENGTH+GOAL_LENGTH)/4
GOAL_LENGTH_X    0.8625 # (SIDE_X+GOAL_WIDTH)
GOAL_WIDTH_X     (SIDE_X+((GOAL_WIDTH+THICK)/2))
GOAL_WIDTH_Y     (GOAL_LENGTH+THICK)/2
FIELD_TRIANGLE_X       ((FIELD_WIDTH/2)-(SC*3.5))
FIELD_TRIANGLE_Y       ((FIELD_LENGTH/2)-(SC*3.5))

# constantes de velocidade
FORWARD 1
BACKWARD 2
CLOCKWISE 3
COUNTERCLOCKWISE 4

NUMBER_VEL 3
NUMBER_ROT_VEL 3

RETANGULO_CAMPO  -0.750  0.650 1.300  1.500
CENTRO_CAMPO 0 0

RETANGULO_SOBRA_DIR  0.375 0.0 0.200 0.375
CENTRO_SOBRA_DIR  0.5625 -0.100

RETANGULO_SOBRA_ESQ  0.375 0.200 0.200 0.375
CENTRO_SOBRA_ESQ  0.5625 0.100

RETANGULO_ATAQUE 0.0 0.650 1.300 0.750
CENTRO_ATAQUE 0.375 0.0

RETANGULO_DEFESA -0.750 0.650 1.300 0.750
CENTRO_DEFESA -0.375 0.0

RETANGULO_DEFESA_ESQ  -0.750  0.650 0.650 0.750
CENTRO_DEFESA_ESQ -0.375  0.325
RETANGULO_DEFESA_DIR  -0.750  0.0 0.650 0.750
CENTRO_DEFESA_DIR -0.375  -0.325

RAIO_BASE 0.0375
CENTRO_DEFESA_CENTRO -0.600 0.0
CENTRO_INICIO_DIR  -0.303  -0.0475
CENTRO_INICIO_ESQ  -0.336  0.0725
CENTRO_INICIO_GOL  -0.7125  0.0

RAIO_SUPORTE 0.325
CENTRO_SUPORTE_ESQ  0.435 0.325
CENTRO_SUPORTE_DIR  0.435 -0.325