# UnBall Robot Soccer Team
# Master Module Config

# Keys are processes to be spawned
# Lists contain processes it shares information with

## Online mode ##
# Vision Strategy#
# Strategy Communication
# Communication

## Offline mode ##
#Simulation Strategy
#Strategy Simulation
Simulation Estrategia
Estrategia Simulation
#Estrategia Visualization_last
Visualization_last Estrategia
